<h3>UserList Detail</h3>


You have selected id: {{ userlistID }}
<div class='table-responsive'>
    <table class='table' style="width: 30%;">
    <tbody>
        <tr>
            <td>User ID: {{userlist.id}}</td>
        </tr>

        <tr>
            <td>User Name:{{userlist.name}}</td>
        </tr>
        <tr>
            <td>User Age: {{userlist.age}}</td>

        </tr>
    </tbody>
</table>
</div>
<button class="btn-primary" style="margin-right: 10px;" (click)="GoPrevous()">Previous</button>
<button class="btn-primary" (click)="GoNext()">Next</button>
<hr style="width: 20px;">
<button class="btn-primary" (click)="GoBack()">Back</button>



